.myButton {
	-moz-box-shadow:inset -1px 5px 23px 11px #bbdaf7;
	-webkit-box-shadow:inset -1px 5px 23px 11px #bbdaf7;
	box-shadow:inset -1px 5px 23px 11px #bbdaf7;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #bddeff), color-stop(1, #378de5));
	background:-moz-linear-gradient(top, #bddeff 5%, #378de5 100%);
	background:-webkit-linear-gradient(top, #bddeff 5%, #378de5 100%);
	background:-o-linear-gradient(top, #bddeff 5%, #378de5 100%);
	background:-ms-linear-gradient(top, #bddeff 5%, #378de5 100%);
	background:linear-gradient(to bottom, #bddeff 5%, #378de5 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#bddeff', endColorstr='#378de5',GradientType=0);
	background-color:#bddeff;
	-moz-border-radius:15px;
	-webkit-border-radius:15px;
	border-radius:15px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Georgia;
	font-size:28px;
	font-weight:bold;
	padding:14px 39px;
	text-decoration:none;
	text-shadow:0px 0px 9px #398ca6;
}
.myButton:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #378de5), color-stop(1, #bddeff));
	background:-moz-linear-gradient(top, #378de5 5%, #bddeff 100%);
	background:-webkit-linear-gradient(top, #378de5 5%, #bddeff 100%);
	background:-o-linear-gradient(top, #378de5 5%, #bddeff 100%);
	background:-ms-linear-gradient(top, #378de5 5%, #bddeff 100%);
	background:linear-gradient(to bottom, #378de5 5%, #bddeff 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#378de5', endColorstr='#bddeff',GradientType=0);
	background-color:#378de5;
}
.myButton:active {
	position:relative;
	top:1px;
}
